body {
  font-family: sans-serif;
}
#login{
  position: relative;
  height: 70vh;
  width: 100%;
}
#title, #signupTitle {
  padding-left: 0%;
}

form {
  width: 50vw;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.sign-footer, .login-footer {
  text-align: center;
  margin-top: 20px;
}

#loginLink{
  color: #000;
}
#signupLink{
  color: #000;
}
